// -------TEXT COLORS------
$primary-text-White: #ffffff;
$primary-text-Orange: #ff8b38;
$primary-text-Grey: #c0c0c0;
$primary-text-Dark: #000000;

// ------BACKGROUND COLORS------
$primary-background-White: #ffffff;
$primary-background-lightWhite: #f5f5f5;
$primary-background-Dark: #000000;
$primary-background-lightDark: #191919;
$primary-background-Orange: #ff8b38;

// -------FONT SIZE-------
$body1: 1rem;
$body2: 1.2rem;
$subtitle: 1.4rem;
$h6: 1.6rem;
$h5: 1.8rem;
$h4: 2rem;
$h3: 3rem;
$h2: 5rem;
$h1: 7rem;

// ------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;