.contact {
  padding: 60px 5%;
  background-color: $primary-background-White;

  h1 {
    padding-bottom: 20px;
    @include text($primary-text-Dark, $h3, $fwLight);
    text-align: center;
    letter-spacing: 1px;
  }

  hr {
    border: solid 1px $primary-text-Orange;
    width: 6%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    @include text($primary-text-Grey, $subtitle, $fwLight);
  }

  &__group {
    padding: 40px 0;
    @include flexbox(center, space-between, nowrap);

    &__left,
    &__right {
      width: 50%;
      height: 180px;
      padding: 0 10px;

      ::placeholder {
        opacity: 0.6;
      }

      input,
      textarea,
      button {
        width: 100%;
        border: none;
        border-bottom: 1px solid $primary-text-Grey;
        outline: none;
      }
    }

    & .item--2,
    & .item--3 {
      margin-top: 6.5px;
    }

    &__item {
      margin: 10px 0;
      padding: 20px 20px 10px 20px;
    }

    &__right {
      margin-left: 20px;
      textarea {
        resize: none;
        padding: 0 20px;
        margin-top: 30px;
      }
    }
  }

  &--button {
    @include flexbox(center, center, nowrap);

    button {
      @include btn-o(
        $primary-text-White,
        $primary-background-Orange,
        5px,
        15px 20px,
        1.5rem
      );
    }
  }
}