.stylish {
  padding: 60px 5%;
  background-image: url(../../img/b3.jpg);

  h1,
  hr,
  p {
    margin-bottom: 30px !important;
  }

  h1 {
    @include text($primary-text-White, $h3, $fwLight);
    text-align: center;
    letter-spacing: 1px;
  }

  hr {
    border: solid 1px $primary-text-White;
    width: 6%;
    margin: 0 auto;
  }

  p {
    text-align: center;
    @include text($primary-text-Grey, $subtitle, $fwLight);
  }

  &--button {
    @include flexbox(center, center, nowrap);
    button {
      @include btn-w(
        $primary-text-White,
        transparent,
        $h6,
        $fwRegular,
        10px,
        30px,
        solid 2px $primary-background-White,
        $primary-text-Orange,
        solid 2px $primary-background-Orange
      );
    }
  }
}
